@model jaj.Models.user


@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2><img src="@Url.Content(Model.profilePicture)" width="150" height="150" />               @Html.DisplayFor(model => model.Username)'s profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FavTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FavTag)
        </dd>

    </dl>
</div>
<div style="background-color: lightgray; padding-left: 30px">
    <hr />
    <h2>@Html.DisplayFor(model => model.Username)'s videos</h2>
    <table>
        <tr>
            @{
                var videoID = "";
                var Path = "";
                var videoName = "";

                for (int i = 0; i < Model.userVideosID.Count(); i++)
                {
                    videoID = Model.userVideosID[i].ToString();
                    Path = Model.userVideos[i].ToString();
                    videoName = Model.userVideosName[i].ToString();
                    <td style="border-right:1px; border-right-color:lightgray">
                        <a href="/Upload/videoPage/@videoID">

                            <video width="150" height="100">
                                <source src="@Url.Content(Path)" />
                                <video width="150" height="100" poster="@Url.Content(Path)">
                                    <source src="@Url.Content(Path)" />
                                </video>
                            </video>
                            <br />
                            <p style="text-align:center">@videoName</p>
                        </a>
                    </td>
                }
            }
        </tr>
    </table>
</div>

<br/>
<br/>
<p>
    @Html.ActionLink("Edit profile", "Edit", new { id = Model.UserID })
</p>
