@using jaj.Misc
@using jaj.Controllers
<!DOCTYPE html>
<html>
<head>
    <!-- Potrebni meta tagovi -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Team o7</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
        <a class="navbar-brand" href="/videoList/Index">Team o7</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                @if (!User.Identity.IsAuthenticated)
                {

                    <li class="nav-item">
                        <a class="nav-pills zaobljeni" href="/User/Registration"> REGISTER <span class="sr-only">(current)</span></a>

                    </li>
                    <li class="nav-item">
                        <a class="nav-pills zaobljeni" href="/User/Login">LOGIN <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/User/profilePage">@((User as LoggedInUser).Username)</a>
                    </li>
                    <li class="nav-item">
                        <a><img src="@Url.Content((User as LoggedInUser).profilePicture)" style="height:32px;width:32px;" /></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Upload/Upload">Upload</a>
                    </li>

                    <div class="row-sm-4">
                        @using (Html.BeginForm("Search", "videoList", FormMethod.Get))
                        {
                            <div style="margin-left:1rem; margin-right: 1rem; ">
                                
                                @Html.TextBox("naziv", null, new { @style = " border-radius: 25px; border: 2px solid #609 padding: 20px;  width: 200px; height: 40px; " })
                            </div>
                            <button class="zaobljeni my-2 my-sm-0" type="submit">SEARCH</button>

                        }
                    </div>


                        <li class="nav-item">
                            <a class="nav-link" href="/User/Edit">Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-pills zaobljeni" href="/User/Logout">Logout</a>
                        </li>
                        }
                </ul>
            
        </div>
    </nav>



    <div class="container body-content">
        <br/> <br/>
        @RenderBody()
        <hr />
        <footer>
        </footer>
    </div>

    <footer id="footer"><p>&copy; @DateTime.Now.Year - Team o7</p></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>